<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 한글 깨짐 방지를 위한 문자 인코딩 설정 -->
    <meta charset="UTF-8">

    <!-- 브라우저 탭에 표시될 제목 -->
    <title>글쓰기</title>
</head>
<body>

<h1>글쓰기</h1>

<!--
    form 태그는 사용자가 입력한 데이터를 서버로 전송할 때 사용한다.

    action="/write"
    -> 사용자가 등록 버튼을 누르면 /write 주소로 요청을 보낸다.

    method="post"
    -> 게시글 작성처럼 데이터를 저장하는 작업은 POST 방식을 사용한다.
-->
<form action="/write" method="post">

    <!--
        name="title"

        이 name 값은 BoardController의
        @RequestParam String title과 연결된다.

        사용자가 입력한 제목이 서버로 전달된다.
    -->
  제목 : <input type="text" name="title"><br><br>

    <!--
        name="content"

        이 name 값은 BoardController의
        @RequestParam String Content와 연결된다.

        textarea는 긴 내용을 입력할 때 사용한다.
    -->
  내용 : <textarea name="content"></textarea><br><br>

    <!--
        type="submit"

        버튼을 누르면 form 안의 입력값들이
        action에 적힌 /write 주소로 전송된다.
    -->
  <button type="submit">등록</button>
</form>

<br>

<!-- 글 목록 페이지로 이동하는 링크 -->
<a href="/list">목록으로</a>

</body>
</html>